NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://qufmxiepnkiouzpyaxyw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1Zm14aWVwbmtpb3V6cHlheHl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NzQ3NjgsImV4cCI6MjA5MDM1MDc2OH0.lhl337ftE8HZhXr8RDvXQSWnGVEV9jHzLSyK37_1zI0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1Zm14aWVwbmtpb3V6cHlheHl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDc3NDc2OCwiZXhwIjoyMDkwMzUwNzY4fQ.rgMoGCrsJaKwMy9Jlbs0A9zSXvinxkOupXwnMWKzvJY

JWT_SECRET=5a787f4edad11f7be4af5e13a1490ade4686fdd1314bb4dbc5f12f5008f36da127394468b8341df06ff756adf863dcba

NEXT_PUBLIC_SOCKET_URL=http://localhost:3000

NEXT_PUBLIC_LIVEKIT_URL=wss://ipl-auction-4ui8dc1b.livekit.cloud
LIVEKIT_API_KEY=APIXHQvEEF2H7a7
LIVEKIT_API_SECRET=cc53q141dTlqRqU98qhJt3fepbxlme7cjSwRxhVh8q9A_AP

ADMIN_USERNAME=ipl_admin
ADMIN_PASSWORD_HASH=$2a$12$/4qMDyF3TxQDyjVgI1T2Xu0Gp.LyNqcAr3dSo.bapOLRFcAjL4JUK

NEXT_PUBLIC_BUDGET_CR=120
